.button {
  padding: 0.7rem 2rem;
  border-radius: 0.5rem;
  background-color: #6062d4;
  border: none;
  box-shadow: inset 0 -0.4rem #2e2d3b;
  color: white;
  font-weight: 900;
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.button--big {
  font-size: 2.4rem;
  color: white;
  border: 0.3rem solid #2e2d3b;
}
